.venv
mk_cache
mk_cache/*
cache
cache/*
pics
pics/*
pics_total
pics_total/*
graphs_rand.rar
graphs_rand.rar:Zone.identifier
pics.zip



*/__pycache__
*/__pycache__/
__pycache__
base_partitioner/__pycache__
greed/__pycache__